Aqui tienes el contenido del archivo `.env.example` con las variables de entorno necesarias para el proyecto:
JWT_SECRET= = "AQUI-ESCRIBE-UN-SECRETO-SEGURAMENTE-LARGO-Y-UNICO"
DATABASE_URL="mysql://root:ESCRIBE-LA-CONTRASEÑA-DE-TU-BASE-DE-DATOS@localhost:#numero-de-puerto/NOMBRE-DE-TU-BASE-DE-DATOS"